*
{
    margin: 0;
    border: 0;
    padding: 0;
}

#root
{
    margin: 0;
    text-align: justify;
    border: 1px solid black;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 50%;
}

#root > div
{
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

img
{
    height: 200px;
    width: auto;
}

body
{
    background-color: darkgray;
}

