*
{
    margin: 0;
    border: 0;
    padding: 0;
}

#root
{
    margin: 0;
    text-align: justify;
    border: 1px solid black;
    box-sizing: border-box;
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 50%;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

#root > div
{
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

img
{
    height: 200px;
    width: auto;
}

@media screen and (max-width: 480px) {
    h1
    {
        font-size: 1.5rem;
    }

    div
    {
        font-size: 15px;
    }
}

@media screen and (max-width: 400px)
{
    h1
    {
        font-size: 1rem;
    }

    div
    {
        font-size: 10px;
    }
}

body
{
    background-color: darkgray;
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*
Transition effects solved with:
https://stackoverflow.com/questions/11679567/using-css-for-fade-in-effect-on-page-load
*/